<script setup lang="ts">
import FancyButton from "@/components/FancyButton.vue";
import { mdiCardsHeartOutline } from "@mdi/js";
import { mdiCursorDefaultClickOutline } from "@mdi/js";
</script>

<template>
  <v-container>
    <v-row>
      <v-col
        ><FancyButton
          ><v-icon :icon="mdiCardsHeartOutline"></v-icon>Love Me
          <template v-slot:tail> Tail </template>
        </FancyButton></v-col
      >
      <v-col
        ><FancyButton
          ><v-icon :icon="mdiCursorDefaultClickOutline"></v-icon>
          <template #tail>MY Tail </template>Click Me</FancyButton
        ></v-col
      >
    </v-row>
  </v-container>
</template>
