<script setup lang="ts">
import { mdiHumanChild } from "@mdi/js";
import { mdiSchool } from "@mdi/js";
import { mdiAccountSchool } from "@mdi/js";
import { mdiTownHall } from "@mdi/js";
</script>

<template>
  <v-container>
    <v-row>
      <v-col cols="12"
        ><v-card class="mx-auto" max-width="100%" max-="400" color="green">
          <v-avatar color="gray" size="200">
            <v-img
              src="https://lh3.googleusercontent.com/a/AEdFTp5i_u3pdBowfctByWq24426BW85cyCh73r_5JkG=s360-p-rw-no"
              height="200px"
              width="200px"
            ></v-img>
          </v-avatar>
          <v-card-title> Phichet Parto </v-card-title>

          <v-card-subtitle> BURAPHA UNIVERSITY </v-card-subtitle>
        </v-card>
      </v-col>
    </v-row>
    <br /><br />

    <row
      ><header><h1>ประวัติการศึกษา</h1></header></row
    >
    <br /><br />
    <v-card>
      <br />
      <row
        ><v-timeline direction="horizontal">
          <v-timeline-item>
            <template v-slot:opposite> โรงเรียนบ้านนายผล </template>
            <div>
              <div class="text-h6">
                <v-icon :icon="mdiHumanChild"></v-icon> ระดับชั้นอนุบาลศึกษา
              </div>
            </div>
          </v-timeline-item>

          <v-timeline-item>
            <template v-slot:opposite> โรงเรียนบ้านนายผล </template>
            <div>
              <div class="text-h6">
                <v-icon :icon="mdiSchool"></v-icon> ระดับชั้นประถมศึกษา
              </div>
            </div>
          </v-timeline-item>

          <v-timeline-item>
            <template v-slot:opposite> โรงเรียนศึกษานารีวิทยา </template>
            <div>
              <div class="text-h6">
                <v-icon :icon="mdiTownHall"></v-icon> ระดับชั้นมัธยมศึกษา
              </div>
            </div>
          </v-timeline-item>
          <v-timeline-item>
            <template v-slot:opposite> มหาวิทยาลัยบูรพา </template>
            <div>
              <div class="text-h6">
                <v-icon :icon="mdiAccountSchool"></v-icon> ระดับหมาวิทยาลัยศึกษา
              </div>
            </div>
          </v-timeline-item>
        </v-timeline></row
      >
      <br />
    </v-card>
    <br />
    <v-row
      ><header><h1>สิ่งที่สนใจ</h1></header></v-row
    >
    <br />
    <v-card>
      <br />
      <v-row justify="center">
        <v-col cols="8">
          <v-table>
            <thead>
              <tr>
                <td>ลำดับความชอบ</td>
                <td>สิ่งที่สนใจ</td>
                <td>คะแนนที่สนใจ</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>อ่านมังงะ</td>
                <td>10/10</td>
              </tr>
              <tr>
                <td>2</td>
                <td>ดู YouTube</td>
                <td>9/10</td>
              </tr>
              <tr>
                <td>3</td>
                <td>นอน</td>
                <td>8.5/10</td>
              </tr>
              <tr>
                <td>4</td>
                <td>เล่นเกม</td>
                <td>7/10</td>
              </tr>
            </tbody>
          </v-table>
        </v-col>
      </v-row>
    </v-card>
  </v-container>
</template>

<style>
th,
td {
  text-align: center;
}
</style>
