<script setup lang="ts">
import FrameworkPop from "@/components/FrameworkPop.vue";
import { ref, computed } from "vue";
const frameList = ref([
  {
    name: "VueJS",
    img: "https://th.bing.com/th/id/OIP.KYsS-IQ5v_OZAOEzgJB74AHaFG?w=243&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7",
    rating: 14,
  },
  {
    name: "Angular",
    img: "https://openclipart.org/image/800px/272339",
    rating: 20,
  },
  {
    name: "Reactjs",
    img: "https://pluspng.com/img-png/react-logo-png-js-logo-react-react-js-icon-512x512.png",
    rating: 10,
  },
]);
function changeRating(index: number, rating: number) {
  console.log("action " + index + " : " + rating);
  frameList.value[index].rating = rating;
}
const orderList = computed(() => {
  return [...frameList.value].sort((n1, n2) => n2.rating - n1.rating);
});
</script>

<template>
  `<v-container>
    <v-row>
      <v-col v-for="(item, index) of orderList" :key="index">
        <FrameworkPop
          :name="item.name"
          :img="item.img"
          :rating="item.rating"
          :index="index"
          @change="changeRating"
        ></FrameworkPop>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col cols="6">
        <v-table>
          <thead>
            <tr>
              <th>order</th>
              <th>name</th>
              <th>rating</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) of frameList" :key="index">
              <td>{{ index + 1 }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.rating }}</td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row> </v-container
  >`
</template>

<style></style>
